.header {
    position: fixed;
    top: 5;
    display: flex;
    background-color: rgba(214, 214, 214, 0.4);
    overflow: visible;
    justify-content: space-between;
    border-radius: 35px;
    padding: 10px 20px;
    opacity: 1;

    order: 9;
    flex-grow: 1;
    margin: 10px 10%;
    z-index: 5;
}



.logoSearch {
    display: flex;
    flex-direction: row;

}

.searchDiv {
    margin: 15px 2px;
    border: 2px solid black;
    border-radius: 35px;

}

.logo {
    width: 15%;
    height: 15%;
    margin-top: 15px;
}

.searchIcon {
    margin: 5px 0px 5px 10px;
    font-size: 25px;

}

.inputTag {
    margin: 0px 0px 0px 10px;
    padding: 0px 0px 0px 10px;
    border: none transparent;
    background: none 0% 0% / auto repeat scroll padding-box border-box rgba(0, 0, 0, 0);
    box-sizing: border-box;
    color: black;

}

.inputTag:focus {
    outline: none;
}

.searchSpan {
    margin: 0px 15px 0px 10px;
    font-size: 20px;
    border-bottom: 2px solid var(--color_bTWEb0_default);
    color: var(--color_bTWEb0_default);
}


.navList {
    list-style-type: none;
    margin: 28px 0px 0px -40px;
    padding: 0;
    overflow: hidden;
    /* border: 2px solid black; */
}

.navLi {
    display: inline;
    line-height: 10px;
    margin-right: 15px;

}
.navListLink{
    padding: 10px;
}


.loginSignUp {
    margin: 15px 0px 0px 10px;
    padding: 0;
    list-style-type: none;
    margin-right: 30px;

}

.loginSignUpButton {
    border: 2px solid var(--color_bTNrc0_default);
    padding: 10px 20px;
    border-radius: 10px;
    background-color: white;
    font-weight: 600;


}

.shad:hover {
    box-shadow: 2px 2px 4px 1px var(--color_bTNrc0_default);
}




@media only screen and (min-width:0) and (max-width:440px) {
    .header {
        width: 84%;
    }
    .logo {
        width: 65px;
        margin-top: 7px;
        margin-right: 5px;

    }
    .searchDiv {
        width: 100px;
        display: flex;
        justify-content: space-between;
        margin-left: 0px;
    }
    .navList {
        display: none;
    }
    .loginSignUp {
        display: none;
    }
    .navigate {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .inputTag {
        display: none;

    }
  .searchDiv{
    display: none;
  }
}

@media only screen and (min-width:441px) and (max-width:640px) {
    .header {
        width: 86%;
    }

    .logo {
        width: 70px;
        margin-top: 20px;
        margin-right: 5px;

    }


    .navigate {
        width: 40px;
        margin-left: 15px;
        margin-top: 5px;
    }

    .searchDiv {
        width: 200px;
        display: flex;
        justify-content: space-between;
        margin-left: 0px;
    }
    .navList {
        display: none;
    }
    .loginSignUp {
        display: none;
    }
    .navigate {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .inputTag {
        display: none;
    }
    .searchSpan{
        margin: 0px 15px 0px 10px;
        position: relative;
        font-size: 20px;
        border-bottom: 2px solid var(--color_bTWEb0_default);
        color: var(--color_bTWEb0_default);
        top: -5px;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 0px;

    }
}

@media only screen and (min-width:641px) and (max-width:768px) {
    .header {
        width: 88%;
    }

    .logo {
        width: 100px;
        margin-top: 5px;
        margin-right:3px;

    }
    .searchDiv {
        width: 200px;
        display: flex;
        justify-content: space-between;
        margin-left: 0px;
    }
    .searchSpan{
        margin: 0px 15px 0px 10px;
    position: relative;
    font-size: 20px;
    border-bottom: 2px solid var(--color_bTWEb0_default);
    color: var(--color_bTWEb0_default);
    top: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0px;
    }
    .navList {
        display: none;
    }
    .loginSignUp {
        display: none;
    }

    .navigate {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .inputTag {
        display: none;
    }
}

@media only screen and (min-width:769px) and (max-width:1024px) {
    .header {
        width: 92%;
    }

    .logo {
        width: 120px;
        margin-top: 5px;

    }

    .searchDiv {
        width: 300px;
        display: flex;
        justify-content: space-between;
        margin-left: 100px;
    }

    .searchIcon {
        margin: 5px 0px 5px 10px;
        font-size: 25px;
    }


    .inputTag {
        display: none;
    }

   .searchSpan{
    margin: 0px 15px 0px 10px;
    position: relative;
    font-size: 20px;
    border-bottom: 2px solid var(--color_bTWEb0_default);
    color: var(--color_bTWEb0_default);
    top: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0px;
   }

    .navList {
        display: none;
    }

    .loginSignUp {
        display: none;
    }

    .navigate {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (min-width:1025px) and (max-width:1400px) {
    .header {
        width: 1025px;
    }
    .navList{
    list-style-type: none;
    margin: 32px 0px 0px -30px;
    padding: 0;
    overflow: hidden;
   
    display: flex;
    text-align: center;
}

.navLi {
    display: inline;
    line-height: 10px;
    margin-right: 15px;

}
}

@media only screen and (min-width:1401px)  {
    .header {
        width: 90%;
        max-width: 1125px;
    }
}