.videoContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
  margin-bottom: 20px;
}
.video {
  width: 90%;
  height: 500px;
  margin-top: -40px;
}
.videoOverlay {
  transform: translateY(-35px);

  width: 1000px;
  border-radius: 24px;
  box-shadow: rgb(213, 211, 211) 2px 2px 8px 2px;
  display: flex;
  justify-content: space-between;
}

.badgeCardLine3 {
  border: 1px solid var(--color_bTNrc0_default);
  position: absolute;
  top: 30%;
  left: 76%;
  height: 50%;
}
.badgeCardLine2 {
  border: 1px solid var(--color_bTNrc0_default);
  position: absolute;
  top: 30%;
  left: 51%;
  height: 50%;
}
.badgeCardLine1 {
  border: 1px solid var(--color_bTNrc0_default);
  position: absolute;
  top: 30%;
  left: 26%;
  height: 50%;
}

.badgeCard {
  height: 160px;
  margin: 30px 0px 30px 30px;
  width: 100%;

  word-wrap: break-word;
}

.imgDiv {
  height: 70%;
display: flex;
justify-content: center;
text-align: center;
  border-radius: 50%;
  margin: auto;
  width: 60%;
}
.imgDivImg {
  width: 100%;
  height: 100%;
  display: block;

  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.textDiv {
  margin: auto;
  width: 75%;

  font-weight: 700;
  font-size: 25px;
  text-align: center;
  line-height: 1;
}
/* .carousalImage{
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill;
    position: absolute;
    border-radius: 0;
  } */

.advertContainer {
  margin: auto;
  padding: 0;
  width: 85%;
}
.advertRow {
  display: flex;
  flex-direction: row;
}
.advertCol1 {
  width: 50%;

  display: flex;
  justify-content: center;
}
.advertCol2 {
  width: 50%;

  display: flex;
  flex-direction: column;

  align-items: center;
}
.firstElementCard {
  margin-top: 50px;
  display: flex;

  /* border: 2px solid blue; */
}
.firstElementDiv {
  /* border: 2px solid purple; */
  margin-right: 10px;
}
.firstElementBox {
  position: absolute;
  left: 47.5%;
  width: 5%;
  height: 10%;

  background-color: var(--color_primary_default);
  font-weight: 700;
  color: #00dc82;
  font-size: 28px;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.firstElementLine {
  position: relative;
  left: 45%;
  width: 0;
  height: 100%;
  border: 2px solid #d9d9d9;
  top: 8%;
}

.firstElement {
  /* margin-top: 50px; */
  border-radius: 16px;
  padding: 0px 25px;
  margin-left: 67px;

  width: 70%;
  height: max-content;
  min-height: 60px;
  background-color: #e5f0f1;
}
.advertImg {
  width: 85%;
  height: 90vh;
  display: block;
  margin: auto;
  border-radius: 16px;
  box-shadow: rgb(213, 211, 211) 2px 2px 8px 2px;
  margin-bottom: 25px;
}
.advertCard {
  margin: 50px 0;

  position: -webkit-sticky;
  position: sticky;
  top: 200px;
  background-color: var(--color_primary_default);

  overflow: visible;
  justify-content: flex-start;
  row-gap: 20px;
  display: grid;

  border-radius: 16px;
  -moz-border-radius: 16px;
  padding: 16px;
  opacity: 1;
  align-self: flex-start;
  min-width: 360px;
  max-width: 60%;
  order: 1;
  min-height: 180px;
  width: 360px;
}

/* range style */

.rangingSection {
  background-color: #e5f0f1;
  margin-top: 50px;
  /* border: 2px solid blue; */
}

.rangingSectionTitle {
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding-top: 70px;
  margin: 70px 0px;
  /* border: 2px solid black; */
}
.rangingSectionContent {
  width: 80%;
  margin: auto;
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.rangeDefDiv {
  width: 50%;
  /* border: 2px solid brown; */
}
.rangeDefNum {
  width: 100%;
  height: max-content;
  /* border: 2px solid black; */
  margin: 30px 0px;
}
.rangeDefNumInner {
  width: 16%;
  margin: auto;
  /* border: 2px solid black; */
  font-weight: 700;
  text-align: center;
  border-radius: 15px;
  font-size: 20px;
  padding: 8px 10px;
  box-shadow: 0px 2px 0px 1px var(--color_primary_default);
}

.reportDiv {
  width: 100%;
  height: 100vh;
  margin: auto;
  /* border: 2px solid black; */
}
.informationDivInner {
  /* border: 2px solid black; */
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 16px;
  background-color: #e5f0f1;
}

.informationFullDiv {
  width: 50%;
  margin: auto;
  margin-bottom: 35px;
  border-radius: 16px;
  background-color: #e5f0f1;
}

@media (max-width: 1024px) {
  .videoContent {
    width: 90%;
    margin: auto;
    margin-top: 8rem;
    margin-bottom: 15px;

    /* border: 2px solid red; */
  }
  .video {
    width: 100%;
    height: 100%;
  }
  .videoOverlay {
    transform: translateY(-5px);
    /* border: 2px solid black; */
    width: 100%;
    border-radius: 24px;
    box-shadow: rgb(213, 211, 211) 2px 2px 8px 2px;
    display: flex;
    justify-content: space-between;
  }

  .firstElementDiv {
    /* border: 2px solid purple; */
    margin-right: 5px;
  }
  .firstElement {
    /* border: 2px solid purple;  */

    width: 90%;
  }
  .advertImg {
    width: 100%;
    height: 30vh;
  }

  .firstElementBox {
    position: absolute;
    left: 50%;
    width: 7%;
    height: 5%;

    background-color: var(--color_primary_default);
    font-weight: 700;
    color: #00dc82;
    font-size: 28px;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .firstElementLine {
    position: relative;
    left: 25px;
    width: 0;
    height: 100%;
    border: 2px solid #d9d9d9;
    top: 10.5%;
  }
}

@media (max-width: 640px) {
  .videoContent {
    width: 90%;
    margin: auto;
    margin-top: 8rem;
    margin-bottom: 15px;

    /* border: 2px solid red; */
  }
  .video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .videoOverlay {
    transform: translateY(-1px);
    /* border: 2px solid black; */
    width: 100%;

    border-radius: 24px;
    box-shadow: rgb(213, 211, 211) 2px 2px 8px 2px;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Create two equal columns */
  column-gap: 4px; 
  
  
  }
  .badgeCard {
    margin-left: 0;
    /* border: 2px solid black; */
    margin: 30px 0px 10px 0px;

  }

  .badgeCardLine1 {
    display: none;
  }
  .badgeCardLine2 {
    display: none;
  }
  .badgeCardLine3 {
    display: none;
  }
  .advertCol1 {
    display: none;
  }
  .advertCol2 {
    width: 100%;
    /* border: 2px solid black; */
  }
  .firstElementLine {
    display: none;
  }
  .firstElementBox {
    display: none;
  }

  .firstElement {
    width: 90%;
    margin: auto;
  }
  .advertImg {
    width: 100%;
    height: 40vh;
  }
  .rangingSectionContent{
    width: 80%;
    /* border: 2px solid black; */
    display: grid;
    height: max-content;
    grid-template-columns: 60% 40%;
  }
  .rangeDefDiv{
   
    width: 100%;
    height: max-content;
  }
  .rangingSectionTitle {
    font-size: 20px;
    margin: 30px 0px;
  }
  .reportDiv1{
    width: 100%;
   
    height: 100%;

  }
  .flwtext{
    font-size: 18px;
    margin-bottom: 10px;
  }
  .rangeDefNum {
    width: 100%;
    height: max-content;
  
    margin: 10px 0px;
  }
  .rangeDefNumInner {
    width: 30%;
   
  }
  .rptTxt{
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
  }
  .rptval{
    font-size: 20px;
    margin-bottom: 10px;
  }
  .rangingSection{
    padding-bottom: 30px;
  }
 
  .reportHead{
    font-size: 20px;
    margin-bottom: 30px;
  }
  .reportTxt{
    font-size: 18px;
    width: 80%;
   text-justify: center;
  }
  .informationDiv{
    width: 100%;
    
  }
  .informationFullDiv{
    width: 80%;
   
  }
  .informTxt{
    font-size: 14px;
  }
  .textDiv{
    font-size: 20px;
    width: 80%;
  }

}
